lab1.2_SD/bikeshared-ws/src/main/resources/bikeshared.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    WSDL contract for BikeShared service.

    This WSDL defines the operations provided by the Web Service, and should not be modified. 
    For more information, consult sections 
    wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below 
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.bikeshareds.org/"
    targetNamespace="http://ws.bikeshareds.org/" name="BikeSharedWebService">
    <types>
        <xs:schema targetNamespace="http://ws.bikeshared.org/" version="1.0">
            <!-- main operations data types -->
            <xs:complexType name="coordinatesView">
                <xs:sequence>
                    <xs:element name="x" type="xs:int" minOccurs="0" />
                    <xs:element name="y" type="xs:int" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="stationView">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="coordinate" type="tns:coordinatesView"
                        minOccurs="0" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="totalGets" type="xs:int" />
                    <xs:element name="totalReturns" type="xs:int" />
                    <xs:element name="availableBikeShared" type="xs:int" />
                    <xs:element name="freeDocks" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="userView">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0" />
                    <xs:element name="hasBikeShared" type="xs:boolean" minOccurs="0" />
                    <xs:element name="credit" type="xs:int" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>


            <xs:complexType name="listStations">
                <xs:sequence>
                    <xs:element name="numberOfStations" type="xs:int"
                        maxOccurs="1" minOccurs="0" />
                    <xs:element name="coordinates" type="tns:coordinatesView"
                        maxOccurs="1" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="listStations" type="tns:listStations" />

            <xs:complexType name="listStationsResponse">
                <xs:sequence>
                    <xs:element name="stations" type="tns:stationView"
                        minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="listStationsResponse" type="tns:listStationsResponse" />


            <xs:complexType name="getInfoStation">
                <xs:sequence>
                    <xs:element name="stationId" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getInfoStation" type="tns:getInfoStation" />

            <xs:complexType name="getInfoStationResponse">
                <xs:sequence>
                    <xs:element name="station" type="tns:stationView"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getInfoStationResponse" type="tns:getInfoStationResponse" />


            <xs:complexType name="getCredit">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" maxOccurs="1"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCredit" type="tns:getCredit" />

            <xs:complexType name="getCreditResponse">
                <xs:sequence>
                    <xs:element name="getCredit" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCreditResponse" type="tns:getCreditResponse" />


            <xs:complexType name="activateUser">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="activateUser" type="tns:activateUser" />

            <xs:complexType name="activateUserResponse">
                <xs:sequence>
                    <xs:element name="user" type="tns:userView" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="activateUserResponse" type="tns:activateUserResponse" />


            <xs:complexType name="rentBikeShared">
                <xs:sequence>
                    <xs:element name="stationId" type="xs:string" minOccurs="0" />
                    <xs:element name="email" type="xs:string" maxOccurs="1"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="rentBikeShared" type="tns:rentBikeShared" />

            <xs:complexType name="rentBikeSharedResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="rentBikeSharedResponse" type="tns:rentBikeSharedResponse" />


            <xs:complexType name="returnBikeShared">
                <xs:sequence>
                    <xs:element name="stationId" type="xs:string" minOccurs="0" />
                    <xs:element name="email" type="xs:string" maxOccurs="1"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="returnBikeShared" type="tns:returnBikeShared" />

            <xs:complexType name="returnBikeSharedResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="returnBikeSharedResponse" type="tns:returnBikeSharedResponse" />


            <xs:complexType name="InvalidStation">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InvalidStation" type="tns:InvalidStation" />

            <xs:complexType name="AlreadyHasBikeShared">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AlreadyHasBikeShared" type="tns:AlreadyHasBikeShared" />

            <xs:complexType name="UserNotExists">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserNotExists" type="tns:UserNotExists" />

            <xs:complexType name="EmailExists">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EmailExists" type="tns:EmailExists" />

            <xs:complexType name="FullStation">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FullStation" type="tns:FullStation" />

            <xs:complexType name="InvalidEmail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InvalidEmail" type="tns:InvalidEmail" />

            <xs:complexType name="NoBikeSharedAvail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoBikeSharedAvail" type="tns:NoBikeSharedAvail" />

            <xs:complexType name="NoBikeSharedRented">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoBikeSharedRented" type="tns:NoBikeSharedRented" />

            <xs:complexType name="NoCredit">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoCredit" type="tns:NoCredit" />

            <!-- test control operations data types -->
            <xs:complexType name="test_ping">
                <xs:sequence>
                    <xs:element name="input_message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_ping" type="tns:test_ping" />

            <xs:complexType name="test_pingResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_pingResponse" type="tns:test_pingResponse" />

            <xs:complexType name="test_clear">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clear" type="tns:test_clear" />

            <xs:complexType name="test_clearResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clearResponse" type="tns:test_clearResponse" />

            <xs:complexType name="test_init_station">
                <xs:sequence>
                    <xs:element name="station_id" type="xs:string" />
                    <xs:element name="x" type="xs:int" />
                    <xs:element name="y" type="xs:int" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="return_prize" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_init_station" type="tns:test_init_station" />

            <xs:complexType name="test_init_stationResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_init_stationResponse" type="tns:test_init_stationResponse" />

            <xs:complexType name="test_init">
                <xs:sequence>
                    <xs:element name="user_initial_points" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_init" type="tns:test_init" />

            <xs:complexType name="test_initResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_initResponse" type="tns:test_initResponse" />

            <xs:complexType name="BadInit">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BadInit" type="tns:BadInit" />

        </xs:schema>
    </types>


    <!-- Messages (use elements defined in the schema) -->

    <!-- main operations -->
    <message name="listStations">
        <part name="parameters" element="tns:listStations" />
    </message>
    <message name="listStationsResponse">
        <part name="parameters" element="tns:listStationsResponse" />
    </message>

    <message name="getInfoStation">
        <part name="parameters" element="tns:getInfoStation" />
    </message>
    <message name="getInfoStationResponse">
        <part name="parameters" element="tns:getInfoStationResponse" />
    </message>

    <message name="getCredit">
        <part name="parameters" element="tns:getCredit" />
    </message>
    <message name="getCreditResponse">
        <part name="parameters" element="tns:getCreditResponse" />
    </message>

    <message name="activateUser">
        <part name="parameters" element="tns:activateUser" />
    </message>
    <message name="activateUserResponse">
        <part name="parameters" element="tns:activateUserResponse" />
    </message>

    <message name="rentBikehared">
        <part name="parameters" element="tns:rentBikehared" />
    </message>
    <message name="rentBikeSharedResponse">
        <part name="parameters" element="tns:rentBikeSharedResponse" />
    </message>

    <message name="returnBikeShared">
        <part name="parameters" element="tns:returnBikeShared" />
    </message>
    <message name="returnBikeSharedResponse">
        <part name="parameters" element="tns:returnBikeSharedResponse" />
    </message>

    <message name="InvalidStation">
        <part name="fault" element="tns:InvalidStation" />
    </message>

    <message name="UserNotExists">
        <part name="fault" element="tns:UserNotExists" />
    </message>

    <message name="InvalidEmail">
        <part name="fault" element="tns:InvalidEmail" />
    </message>

    <message name="EmailExists">
        <part name="fault" element="tns:EmailExists" />
    </message>

    <message name="NoBikeSharedAvail">
        <part name="fault" element="tns:NoBikeSharedAvail" />
    </message>

    <message name="NoCredit">
        <part name="fault" element="tns:NoCredit" />
    </message>

    <message name="AlreadyHasBikeShared">
        <part name="fault" element="tns:AlreadyHasBikeShared" />
    </message>

    <message name="FullStation">
        <part name="fault" element="tns:FullStation" />
    </message>

    <message name="NoBikeSharedRented">
        <part name="fault" element="tns:NoBikeSharedRented" />
    </message>

    <!-- test control operations -->
    <message name="test_ping">
        <part name="parameters" element="tns:test_ping"/>
    </message>
    <message name="test_pingResponse">
        <part name="parameters" element="tns:test_pingResponse"/>
    </message>

    <message name="test_clear">
        <part name="parameters" element="tns:test_clear"/>
    </message>
    <message name="test_clearResponse">
        <part name="parameters" element="tns:test_clearResponse"/>
    </message>

    <message name="test_init_station">
        <part name="parameters" element="tns:test_init_station"/>
    </message>
    <message name="test_init_stationResponse">
        <part name="parameters" element="tns:test_init_stationResponse"/>
    </message>

    <message name="test_init">
        <part name="parameters" element="tns:test_init"/>
    </message>
    <message name="test_initResponse">
        <part name="parameters" element="tns:test_initResponse"/>
    </message>

    <message name="BadInit">
        <part name="fault" element="tns:BadInit"/>
    </message>


    <!-- Port Type (Interface) -->
    <portType name="BikeSharedsPortType">
        <!-- main operations -->
        <operation name="listStations">
            <input wsam:Action="http://ws.bikeshareds.org/bikeshared/listStationsRequest"
                message="tns:listStations" />
            <output wsam:Action="http://ws.bikeshareds.org/bikeshared/listStationsResponse"
                message="tns:listStationsResponse" />
        </operation>

        <operation name="getInfoStation">
            <input wsam:Action="http://ws.bikeshareds.org/bikeshared/getInfoStationRequest"
                message="tns:getInfoStation" />
            <output wsam:Action="http://ws.bikeshareds.org/bikeshared/getInfoStationResponse"
                message="tns:getInfoStationResponse" />
            <fault message="tns:InvalidStation" name="InvalidStation"
                wsam:Action="http://ws.bikeshareds.org/bikeshared/getInfoStation/Fault/InvalidStation" />
        </operation>

        <operation name="getCredit">
            <input wsam:Action="http://ws.bikeshareds.org/bikeshared/getCreditRequest"
                message="tns:getCredit" />
            <output wsam:Action="http://ws.bikeshareds.org/bikeshared/getCreditResponse"
                message="tns:getCreditResponse" />
            <fault message="tns:UserNotExists" name="UserNotExists"
                wsam:Action="http://ws.bikeshareds.org/bikeshared/getCredit/Fault/UserNotExists" />
        </operation>

        <operation name="activateUser">
            <input wsam:Action="http://ws.bikeshareds.org/bikeshared/activateUserRequest"
                message="tns:activateUser" />
            <output wsam:Action="http://ws.bikeshareds.org/bikeshared/activateUserResponse"
                message="tns:activateUserResponse" />
            <fault message="tns:InvalidEmail" name="InvalidEmail"
                wsam:Action="http://ws.bikeshareds.org/bikeshared/activateUser/Fault/InvalidEmail" />
            <fault message="tns:EmailExists" name="EmailExists"
                wsam:Action="http://ws.bikeshareds.org/bikeshared/activateUser/Fault/EmailExists" />
        </operation>

        <operation name="rentBikeShared">
            <input wsam:Action="http://ws.bikeshareds.org/bikeshared/rentBikeSharedRequest"
                message="tns:rentBikeShared" />
            <output wsam:Action="http://ws.bikeshareds.org/BikeShareds/rentBikeSharedResponse"
                message="tns:rentBikeSharedResponse" />
            <fault message="tns:InvalidStation" name="InvalidStation"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/rentBikeShared/Fault/InvalidStation" />
            <fault message="tns:NoBikeSharedAvail" name="NoBikeSharedAvail"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/rentBikeShared/Fault/NoBikeSharedAvail" />
            <fault message="tns:NoCredit" name="NoCredit"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/rentBikeShared/Fault/NoCredit" />
            <fault message="tns:AlreadyHasBikeShared" name="AlreadyHasBikeShared"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/rentBikeShared/Fault/AlreadyHasBikeShared" />
            <fault message="tns:UserNotExists" name="UserNotExists"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/rentBikeShared/Fault/UserNotExists" />
        </operation>

        <operation name="returnBikeShared">
            <input wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeSharedRequest"
                message="tns:returnBikeShared" />
            <output wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeSharedResponse"
                message="tns:returnBikeSharedResponse" />
            <fault message="tns:InvalidStation" name="InvalidStation"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeShared/Fault/InvalidStation" />
            <fault message="tns:FullStation" name="FullStation"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeShared/Fault/FullStation" />
            <fault message="tns:NoBikeSharedRented" name="NoBikeSharedRented"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeShared/Fault/NoBikeSharedRented" />
            <fault message="tns:UserNotExists" name="UserNotExists"
                wsam:Action="http://ws.BikeShareds.org/BikeShareds/returnBikeShared/Fault/UserNotExists" />
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <input wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_pingRequest" message="tns:test_ping"/>
            <output wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_pingResponse" message="tns:test_pingResponse"/>
        </operation>

        <operation name="test_clear">
            <input wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_clearRequest" message="tns:test_clear"/>
            <output wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_clearResponse" message="tns:test_clearResponse"/>
        </operation>

        <operation name="test_init_station">
            <input wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_init_stationRequest" message="tns:test_init_station"/>
            <output wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_init_stationResponse" message="tns:test_init_stationResponse"/>
            <fault message="tns:BadInit" name="BadInit" wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_init_station/Fault/BadInit"/>
        </operation>

        <operation name="test_init">
            <input wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_initRequest" message="tns:test_init"/>
            <output wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_initResponse" message="tns:test_initResponse"/>
            <fault message="tns:BadInit" name="BadInit" wsam:Action="http://ws.BikeShareds.org/BikeShareds/test_init/Fault/BadInit"/>
        </operation>

    </portType>


    <!-- SOAP/HTTP Binding -->
    <binding name="BikeSharedsPortBinding" type="tns:BikeSharedsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
            style="document" />
        <!-- main operations -->
        <operation name="listStations">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getInfoStation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidStation">
                <soap:fault name="InvalidStation" use="literal" />
            </fault>
        </operation>

        <operation name="getCredit">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="UserNotExists">
                <soap:fault name="UserNotExists" use="literal" />
            </fault>
        </operation>

        <operation name="activateUser">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidEmail">
                <soap:fault name="InvalidEmail" use="literal" />
            </fault>
            <fault name="EmailExists">
                <soap:fault name="EmailExists" use="literal" />
            </fault>
        </operation>

        <operation name="rentBikeShared">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidStation">
                <soap:fault name="InvalidStation" use="literal" />
            </fault>
            <fault name="NoBikeSharedAvail">
                <soap:fault name="NoBikeSharedAvail" use="literal" />
            </fault>
            <fault name="NoCredit">
                <soap:fault name="NoCredit" use="literal" />
            </fault>
            <fault name="AlreadyHasBikeShared">
                <soap:fault name="AlreadyHasBikeShared" use="literal" />
            </fault>
            <fault name="UserNotExists">
                <soap:fault name="UserNotExists" use="literal" />
            </fault>
        </operation>

        <operation name="returnBikeShared">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="InvalidStation">
                <soap:fault name="InvalidStation" use="literal" />
            </fault>
            <fault name="FullStation">
                <soap:fault name="FullStation" use="literal" />
            </fault>
            <fault name="NoBikeSharedRented">
                <soap:fault name="NoBikeSharedRented" use="literal" />
            </fault>
            <fault name="UserNotExists">
                <soap:fault name="UserNotExists" use="literal" />
            </fault>
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="test_clear">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="test_init_station">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BadInit">
                <soap:fault name="BadInit" use="literal"/>
            </fault>
        </operation>

        <operation name="test_init">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BadInit">
                <soap:fault name="BadInit" use="literal"/>
            </fault>
        </operation>

    </binding>


    <!-- Service -->
    <service name="BikeSharedsService">
        <port name="BikeSharedsPort" binding="tns:BikeSharedsPortBinding">
            <soap:address location="http://localhost:8080/bikeshareds-ws/endpoint" />
        </port>
    </service>

</definitions>